discord.py[voice]==2.7.1
openai
python-dotenv

websockets>=15,<17
git+https://github.com/LeadFreeCandy/discord-ext-voice-recv.git@bec048127f4148fd147afa3182c3771b6955dc08#egg=discord-ext-voice-recv
psycopg[binary]>=3.2,<4
