discord.py[voice]==2.7.1
davey==0.1.6
openai
python-dotenv

websockets>=15,<17
git+https://github.com/porgeeratad/discord-ext-voice-recv.git@03dd1e2dafe85522cc458441cd5b143b136ac836#egg=discord-ext-voice-recv
psycopg[binary]>=3.2,<4
